body {
  font-size: 16px;
  color: #fff;
  background-color: #8a1c1c;
  font-family: "Oxygen", sans-serif;
}

/** HEADER **/
#header-nav {
  border-radius: 0;
  border: 0;
  background-image: linear-gradient(
    rgb(230, 46, 46),
    rgba(247, 247, 242, 0.233)
  );
}

/**logo ensias**/
#logo-img {
  background: url("../images/ensias.png") no-repeat;
  width: 180px;
  height: 150px;
  margin: 10px 10px 10px 0;
}

#anass-img {
  /* background: url('../images/anass.jpg') no-repeat; */
  width: 150px;
  height: 150px;
  margin: 15px 0 10px 0;
  border-radius: 100%;
  float: right;
}

#navbar-brand {
  padding-top: 25px;
}
#navbar-brand h1 {
  /* ENSIAS name */
  font-family: "Lora", serif;
  color: #000000;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 0.75;
}
#navbar-brand a:hover,
#navbar-brand a:focus {
  text-decoration: none;
}
#navbar-brand p {
  /* ENSIAS full name  */
  color: #000;
  text-transform: uppercase;
  font-size: 0.7em;
  margin-top: 15px;
}
#navbar-brand p span {
  /* Star-K */
  vertical-align: middle;
}
.nav .open > a,
.nav .open > a:focus {
  background-color: unset;
}

/*buttons*/ /*deconnected*/
#buttons {
  width: 200px;
  float: right;
  margin-top: 50px;
  margin-left: 20px;
}
#id-name span {
  font-size: 1.2em;
  font-weight: bolder;
}

#deconnect-btn {
  color: #000;
  background-color: #cccccc;
  outline: none;
  margin-top: 5px;
}
#buttons a:hover {
  text-decoration: none;
}
#deconnect-btn:hover {
  background-color: #fff;
}

#login-btn,
#forgot-password-btn,
#reset-password-btn,
#accept-btn,
#refuse-btn,
#download-btn {
  background-color: #000;
  color: #fff;
  border-color: #000;
  opacity: 0.8;
}

#row-forgot-btn {
  margin-top: 20px;
}

#login-btn:hover,
#forgot-password-btn:hover,
#reset-password-btn:hover,
#accept-btn:hover,
#refuse-btn :hover,
#download-btn:hover {
  background-color: #00000049;
}

#row-login {
  min-height: 30vh;
  display: flex;
  align-items: center;
}

#row-forgot {
  margin: 0px 10px 10px 10px;
}

/*message*/
#message {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #f9ec4dad;
}
/* END HEADER */

/* FOOTER */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours,
#address {
  line-height: 2;
}
#hours > span,
#address > span {
  font-size: 1.3em;
}
#address p {
  color: #557c3e;
  font-size: 0.8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
  padding-top: 5px;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
/* END FOOTER */

/*body*/
#main-content,
#login-infos,
#main-content2 {
  padding-top: 15px;
  margin-top: 20px;
}
#main-content2 {
  position: relative;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}

/* HOME PAGE */
.container {
  box-shadow: 0 0 50px #3f0c1f;
  border: 2px solid #3f0c1f;
}
#header-container {
  margin: 0px;
  width: 100%;
  padding: 0 50px 0 50px;
}

#menu-tile,
#specials-tile,
#news-title,
#map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;
  background-color: #222;
}
#menu-tile:hover,
#news-title:hover,
#specials-tile:hover,
#map-tile:hover,
#prof-title:hover,
#user-title:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
.box {
  box-shadow: 0 1px 5px 1px #cccccc;
  opacity: 0.5;
}
.box-shadow {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#news-title {
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #222;
  color: #fff;
}
#prof-title {
  cursor: pointer;
  height: 220px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #000000;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}
#user-title {
  cursor: pointer;
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #000000;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}
#user-title label {
  font-weight: normal;
}
#user-title p {
  font-size: large;
}

#menu-tile span,
#specials-tile span,
#map-tile span,
#prof-title span,
#user-title span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.3em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: 0.8;
}
/* END HOME PAGE */

/* MENU CATEGORIES PAGE */
.category-tile {
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: 0.8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}
/* END MENU CATEGORIES PAGE */

/* SINGLE CATEGORY PAGE */
.menu-item-tile {
  margin-bottom: 25px;
}
.menu-item-tile hr {
  width: 80%;
}
.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
}
.menu-item-tile .menu-item-price span {
  font-size: 0.6em;
}
.menu-item-photo {
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.menu-item-description {
  padding-right: 30px;
}
h3.menu-item-title {
  margin: 0 0 10px;
}
.menu-item-details {
  font-size: 0.9em;
  font-style: italic;
}
/* END SINGLE CATEGORY PAGE */
/*second navbar*/
#header-container2 {
  margin-top: -2px;
  width: 100%;
  padding: 0 50px 0 50px;
  border-top: 0px;
  background-image: linear-gradient(
    rgba(247, 247, 242, 0.479) 5%,
    rgba(241, 100, 100, 0.26),
    rgba(247, 247, 242, 0.479) 95%
  );
}
/*collapsable-nav*/
#collapsable-nav {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
#nav-list a {
  text-decoration: none;
  color: #000;
  font-size: 1.1em;
}
#nav-list a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.678);
}
.dropdown-menu {
  text-align: center;
  width: 100%;
  background-color: #b34444;
  padding: 0px;
  margin: 0px;
  border: 1px solid rgb(0, 0, 0);
  border-top: 0px;
  border-radius: 0.25rem;
  margin-top: 10px;
}
.dropdown-menu hr {
  border-color: #000;
  margin: 0px;
}
.dropdown-item {
  font-size: 1.2em;
  font-weight: bold;
}
.margin-5px {
  padding: 10px;
  background-image: linear-gradient(
    rgba(247, 247, 242, 0.479) 5%,
    rgba(241, 100, 100, 0.26),
    rgba(247, 247, 242, 0.479) 95%
  );
  margin-right: 0px;
  margin-left: 0px;
}

/*toggle*/
.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #61122f;
  background-color: rgba(247, 247, 247, 0.664);
}
.navbar-header button.navbar-toggle {
  clear: both;
}

/*center vertical*/
.center-vertical {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*reset container*/
#reset {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 10px 30px 10px 30px;
}

/*profile*/
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #333;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}
.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}
.gutters-sm > .col,
.gutters-sm > [class*="col-"] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.main-body {
  padding: 15px;
  margin-bottom: 15px;
  text-align: left;
  background-color: #222;
}
.mb-0 {
  font-weight: bold;
  font-size: 1.2em;
}
.text-secondary {
  text-align: center;
  margin: 7.5px 0 7.5px 0;
}
.card-body .row {
  margin: 0px;
}
#p_biblio {
  margin-top: 10px;
  padding: 10px;
  padding-top: 0px;
}
#btn-edit {
  background-color: #111;
  border-color: #000;
}
#btn-edit:hover {
  opacity: 0.5;
}

/* label checked users
#user-title input[type=checkbox]{
  margin:0px;
  height: 0px;
}
#user-title input[type=checkbox]:before {
  content: "";
  display: block;
  position: absolute;
  /* width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  border: 1px solid #555555; */
/* border-radius: 3px;
  background-color: #222;
}
#user-title input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 7px;
  height: 12px;
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
} */

/********** Large devices only **********/

/********** Medium devices only **********/

/********** Small devices only **********/

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  #navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  #navbar-brand h1 {
    /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  #navbar-brand p {
    /* Kosher cert */
    font-size: 0.6em;
    margin-top: 12px;
  }
  #navbar-brand p img {
    /* Star-K */
    height: 20px;
  }

  #collapsable-nav a {
    /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span {
    /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: 0.7em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* Footer */
  .panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
  }
  /* End Footer */

  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  #menu-tile,
  #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description {
    text-align: center;
  }
}

/*login*/
#login {
  margin-top: -20px;
  margin-left: 13px;
}
.text-container {
  position: relative;
  overflow: hidden;
}

/*show-icon*/
#show-icon,
#show-icon2,
#show-icon3 {
  position: absolute;
  color: black;
  top: 10px;
  right: 5px;
  transition: right 0.2s;
}
#show-icon:hover,
#show-icon2:hover,
#show-icon3:hover {
  cursor: pointer;
}

/*RETOUR*/
#retour {
  margin-top: -50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*supprimer*/
#supprimer {
  margin-top: -30px;
  position: absolute;
  top: 50%;
  left: 80%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*modifier*/
#modifier {
  margin-top: -30px;
  position: absolute;
  top: 50%;
  left: 20%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/*ajouter */
#ajouter {
  margin-top: -50px;
  position: absolute;
  top: 50%;
  left: 75%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* editor*/
#editor {
  display: block;
  height: 200px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#container {
  position: relative;
  margin-top: 100px;
}

/*hover on seance */
.hoverme:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: rgb(0, 0, 0);
}

/*phone numbers*/
#testimonials a {
  color: #557c3e;
  font-family: "Oxygen", sans-serif;
}

/* remove arrows  in number phone */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  #navbar-brand h1 {
    /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */

  /* Home page */
  #menu-tile,
  #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}

#container-connected.container {
  max-width: 100%;
}

/*chrono*/
tbody {
  text-align: center;
  background-color: #333;
}

.table-responsive {
  margin-bottom: 15px;
}

.bg-light-gray {
  background-color: #f7f7f7;
}

.table-bordered {
  margin: auto;
}
.table-bordered thead td,
.table-bordered thead th {
  border-bottom-width: 2px;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  width: 100px;
  background-color: #222;
  text-align: center;
}
.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
}

.table thead tr th,
.table tbody tr td {
  padding: 20px;
}

.bg-sky.box-shadow {
  box-shadow: 0px 5px 0px 0px #00a2a7;
}

.bg-orange.box-shadow {
  box-shadow: 0px 5px 0px 0px #af4305;
}

.bg-green.box-shadow {
  box-shadow: 0px 5px 0px 0px #4ca520;
}

.bg-yellow.box-shadow {
  box-shadow: 0px 5px 0px 0px #dcbf02;
}

.bg-pink.box-shadow {
  box-shadow: 0px 5px 0px 0px #e82d8b;
}

.bg-purple.box-shadow {
  box-shadow: 0px 5px 0px 0px #8343e8;
}

.bg-lightred.box-shadow {
  box-shadow: 0px 5px 0px 0px #d84213;
}

.bg-sky {
  background-color: #02c2c7;
}

.bg-orange {
  background-color: #e95601;
}

.bg-green {
  background-color: #5bbd2a;
}

.bg-yellow {
  background-color: #f0d001;
}

.bg-pink {
  background-color: #ff48a4;
}

.bg-purple {
  background-color: #9d60ff;
}

.bg-red {
  background-color: #fa4545;
}

.bg-lightred {
  background-color: #ff5722;
}

.bg-greenyellow {
  background-color: greenyellow;
}

.bg-coral {
  background-color: coral;
}

.padding-15px-lr {
  padding-left: 15px;
  padding-right: 15px;
}
.padding-5px-tb {
  padding-top: 5px;
  padding-bottom: 5px;
}
.margin-10px-bottom {
  margin-bottom: 10px;
}
.border-radius-5 {
  border-radius: 5px;
}

.margin-10px-top {
  margin-top: 10px;
}
.font-size14 {
  font-size: 14px;
}

.text-light-gray {
  color: #d6d5d5;
}
.font-size13 {
  font-size: 13px;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
}
.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}
